@import url(./global.css);

body {
  font-size: 62.5%;
  line-height: 1;
  font-family: "Poppins", sans-serif;
  background-image: linear-gradient(to right, #7B96FF, #87ECFF);
  position: relative;
}


/* -------------Header------------ */

.header-list{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  color: white;
  transition: all 0.4s linear;
  margin-top: 20px;
}
.header-item{
  padding: 20px;
}
.header-item.active{
  border-bottom: 3px solid white;

}
.header-item:hover {
  cursor: pointer;
  transform: translateY(-5px);
}

.container--small {
  margin-top: 150px;
  height: 500px;
  background-color:white;
  z-index: 5;
}

.main-item {
  display: none;
  width: 100%;
  height: 100%;
}
.main-item.active {
  display: block;
}

/* ---------------- */
main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 600px;
  padding: 40px;
}
.information,
.subjects,
.education,
.project,
.contract {
  height: 80%;
}


.main-item > h2 {
  font-size: 1.6rem;
  text-align: center;
  height: 20%;
} 
.information{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.information-content{
  display: flex;
  flex-direction: column;
}

.information-job{
  font-size: 1.6rem;
  margin-bottom: 10px;
  border-bottom: 1px solid #333;
}

.information-des{
  font-size: 1rem;
  margin-bottom: 20px;
}

.information-title{
  font-size: 1rem;
}
.information-title p{
  margin-bottom: 16px;
  width: 49%;
  display: inline-block;
}

/* -------------------------- */

.main-item:nth-child(2) {
  width: 50%;
}


.subjects {
  margin-top: 90px;
}
.subject {
  font-size: 1.4rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.subject > div {
  width: 60px;
}

.subject span {
  background-color: #e3e0e0;
  height: 20px;
  width: 80%;
  margin:0 20px;
  display: inline-block;
  border-radius: 10px;
  position: relative;
}

.subject span::after {
  --i: 80%;
  content: "";
  position: absolute;
  background-image: linear-gradient(to right, #7B96FF, #87ECFF);
  height: 100%;
  border-radius: 10px;
  animation: loading 1s linear forwards;
}
.subject:nth-child(1) span::after,
.subject:nth-child(2) span::after{
  --i: 90%;
}
.subject:nth-child(3) span::after{
  --i: 40%;
}
.subject:nth-child(4) span::after{
  --i: 42%;
}
@keyframes loading {
  0% {
    width: 0%;
  }

  100% {
    width: var(--i);
  }
}


/* ---------------- */

.education {
  display: grid;
  grid-template-columns: 1fr 1fr;
}


.education-left,
.education-right {
  padding:0 20px;
}
.education-left h3,
.education-right h3 {
  font-size: 1.6rem;
  margin-bottom: 20px;
  font-weight: bold;
}

.education-left {
  border-right: 3px solid #7B96FF
}

.education-item {
   font-size: 1.2rem;
   line-height: 2;
   padding-left: 20px;
   position: relative;
   border-left:1px solid #7B96FF ;
}

.education-item::before {
  content: "";
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid #7B96FF;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -10px;
}
.education-item::after {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color:  #7B96FF;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -5px;
}

.education p {
  font-weight: bold;
}

.education p span {
  font-size: 0.8rem;
  font-weight: 400;
}
/* ----------------------------- */
.project {
  display: flex;
  gap: 20px;
}
.project-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex: 1;
} 
.project-item img{
  width: 80%;
  box-shadow: var(--shadow);
  border-radius: 10px;
} 
.project-name {
  font-size: 1.2rem;
  text-align: center;
  margin: 14px 0;
} 


/* --------------------------- */
.contract {
  padding:20px 180px;
}
.contract input {
  width: 100%;
  font-size: 1.2rem;
  line-height: 2;
  padding-left: 12px;
  border-radius: 10px;
  border-color: #7B96FF;

}

.contract-info {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

.contract-info * {
  flex: 1;
}


.contract-msg {
  height: 130px;
  position: relative;
  padding: 20px !important;
}

.contract-msg[type="text"]::placeholder {
  position: absolute;
}

.contract-btn {
  margin: 20px auto 40px;
}

.contract-social {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.contract-social a{
  display: block;
  width: 40px;
  height: 40px;
}

